<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Your explanation for why you need location access even when the app is in the background.</string>
	<key>CLIENT_ID</key>
	<string>380044226376-kqtjebuc25njoeb36unm5gb6hv9j2j7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380044226376-kqtjebuc25njoeb36unm5gb6hv9j2j7l</string>
	<key>API_KEY</key>
	<string>AIzaSyD8O7Pxr_-YNy0DZTzQ82fKDbIH0nMqU14</string>
	<key>GCM_SENDER_ID</key>
	<string>380044226376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BostonCream.HarmonyHub</string>
	<key>PROJECT_ID</key>
	<string>harmonyhub-1cd5b</string>
	<key>STORAGE_BUCKET</key>
	<string>harmonyhub-1cd5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380044226376:ios:9beec7b50836d1ccafcd7d</string>
    
</dict>
</plist>
